<% include  partial/header.ejs %>
<% include  partial/nav.ejs %>
<div>
<h1 class="textCenter">about</h1>
<div class="container">
    <div>
        <img src="images/photo.JPG" alt="" height="200">
    </div>
            <div>
                <h3>Cao Lei</h3>
                <p>Professional web developer</p>
                <p>Student of Centennial College</p>
                <p>Software Engineering Technology</p>
            </div>
    </div>
</div>
<% include  partial/footer.ejs %>