<% include  partial/header.ejs %>
<% include  partial/nav.ejs %>
<div id="contact">
    <p>Tel: 514-553-4321</p>
    <p>Email: lcao46@my.centennialcollege.ca</p>
</div>
<form action="" id="form">
    <fieldset>
        <legend>Client Info:</legend>
        <p><label for="">First Name: </label><input type="text" name="" id=""></p>
        <p><label for="">Last Name: </label><input type="text" name="" id=""></p>
        <p><label for="">Telephone: </label><input type="text" name="" id=""></p>
        <p><label for="">Email: </label><input type="text" name="" id=""></p>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <p><input type="submit" value="submit"></p>
    </fieldset>
</form>
<% include  partial/footer.ejs %>