<% include  partial/header.ejs %>
<% include  partial/nav.ejs %>
<div>
<h1 class="textCenter">Home</h1>
<div id="welcome">
  <p>Do you want build your business web page?</p>
  <p>Welcome! I am here to help you with your business!</p>
  <p>Creating a amazing business portal.</p>
  <p>Attracting potential clients with professional design.</p>
  <p>In fact, I can help you with so much more than you think!</p>
</div>
</div>

<% include  partial/footer.ejs %>