<% include  partial/header.ejs %>
<% include  partial/nav.ejs %>
<div id="servPic">
    <img src="images/service.jpeg" alt="" width="400">
</div>
<div id="serv">
<p>programming</p>
<p>web development</p>
<p>mobile apps</p>
<p>Machine Learning</p>
</div>
<% include  partial/footer.ejs %>